@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('court2.jpg');
  background-size: 1800px;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-family: 'Peralta', cursive;
  margin: 1rem 0 0rem 0;
  color: white;
  font-size: 6rem;
  padding-top: 2rem;
  background-color: black;
  opacity: 75%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  min-width: 20rem;
  border: thin solid #7c7c7c;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  background-color: grey;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2,
section p {
  text-align: center;
  font-size: 2rem;
}

section h3 {
  margin: 1rem 0;
  font-family: Monospace;
  font-size: 3rem;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

fieldset input {
  padding: 0.5rem;
}

fieldset i {
  margin: 0 0.2rem;
}

fieldset i.add {
  color: green;
}

fieldset i.subtract {
  color: #f64545;
}

div {
  display: flex;
  justify-content: center;
  /* padding-top: 3rem; */
}

#period {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  background-color: black;
}

#quarters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Timer {
  display: flex;
  color: orangered;
  width: 100%;
}

.Timer h2 {
  font-size: 8rem;
}
